---
# Homepage bookmarks configuration

- Development:
    - Github:
        - icon: github.png
          href: https://github.com/{{ ansible_user_id | default('user') }}
    - Documentation:
        - icon: readthedocs.png
          href: https://docs.gethomepage.dev/

- Homelab:
    - Proxmox Docs:
        - icon: proxmox.png
          href: https://pve.proxmox.com/pve-docs/
    - Terraform:
        - icon: terraform.png
          href: https://registry.terraform.io/providers/Telmate/proxmox/latest/docs
    - Ansible:
        - icon: ansible.png  
          href: https://docs.ansible.com/

- Tools:
    - Vault Documentation:
        - icon: vault.png
          href: https://developer.hashicorp.com/vault/docs
